<div class="navbar two-icons">
  <span>
    <div class="nav-link"> <%= link_to '<i class="fas fa-arrow-circle-left"></i>'.html_safe, cocktails_path %> </div>
  </span>
  <span>
    <div class="nav-link"> <%= link_to '<i class="fas fa-plus-circle"></i>'.html_safe, new_cocktail_path %> </div>
  </span>
</div>
