<h1>See all Cocktails</h1>

<%= cl_image_tag("https://res.cloudinary.com/dgwgea5k3/image/upload/v1590143788/ojf04xy8s2751pwbaoka.jpg",
      width: 150, height: 150, crop: :fill) %>

<ul>
  <% @cocktails.each do |cocktail| %>
    <li>
      <%= link_to cocktail.name, cocktail_path(cocktail)  %>
     </li>
  <% end %>
</ul>

<%= link_to "➕ Add a Cocktail", new_cocktail_path  %>
