<h1>See all Cocktails</h1>
<!--
<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>

 -->
<ul>
  <% @cocktails.each do |cocktail| %>
    <li>
      <%= link_to cocktail.name, cocktail_path(cocktail)  %>
     </li>
  <% end %>
</ul>

<%= link_to "➕ Add a Cocktail", new_cocktail_path  %>
