.navbar {
  display:flex;
  justify-content: flex-end;
  background: transparent;
  flex-grow: 0;
  position: sticky;
  top: 0;
  z-index: 2;
  font-size: 25px;
}

.two-icons {
  justify-content: space-between;
}

.navbar-back {
  justify-content: flex-start;
}
